yum install -y screen git
cd && git clone https://github.com/HostOnNet/server-setup.git
screen

uname -a
CFLAGS="-fPIC";export CFLAGS

cd /usr/local/src
git clone --depth 1 https://chromium.googlesource.com/webm/libvpx.git
cd libvpx
make clean && make distclean
./configure --prefix=/usr --disable-examples
make && make install

