yum -y install screen
chmod 777 /var/run/screen
screen

uname -a
CFLAGS="-fPIC";export CFLAGS

cd /usr/local/src
git clone --depth 1 https://chromium.googlesource.com/webm/libvpx.git
cd libvpx
make clean && make distclean
./configure --prefix=/usr --disable-examples
make && make install


============================================================================
PHP CONFIG
============================================================================

php -i | grep php.ini

vi /usr/local/lib/php.ini

max_execution_time = 600
max_input_time = 6000
memory_limit = 128M
error_reporting = E_COMPILE_ERROR|E_ERROR|E_CORE_ERROR
display_errors = On
post_max_size = 800M
upload_max_filesize = 800M
file_uploads = On
session.gc_maxlifetime = 14400

which ffmpeg
which mencoder
which mplayer
which flvtool2
which lame
which yamdi
which qt-faststart

ldconfig
cagefsctl --force-update
